<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICamadoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/CamadoService/CamadoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICamadoService"
                contract="CamadoSer.ICamadoService" name="BasicHttpBinding_ICamadoService" />
        </client>
    </system.serviceModel>
</configuration>